<div class="main-content-container">
  <span defaultOverlayTarget></span>

  <div class="form-container" *ngIf="item">

    <div class="main-content-container__header">
      <h1 class="main-content-container__title" *ngIf="item.ID">Edição de usuário</h1>
      <h1 class="main-content-container__title" *ngIf="!item.ID">Novo usuário</h1>
    </div>

    <form [formGroup]="formGroup" >
      <div class="form-input">
        <input type="text" [(ngModel)]="item.NOME" formControlName="NOME" [ngClass]="{ 'has-value': isNullOrUndefined(item.NOME) }">
        <label>Nome</label>
      </div>
      <div class="form-input">
        <input type="text" [(ngModel)]="item.USUARIO" formControlName="USUARIO" [ngClass]="{ 'has-value': isNullOrUndefined(item.USUARIO) }">
        <label>Usuário</label>
      </div>
      <div class="form-input">
        <input type="password" [(ngModel)]="item.SENHA" formControlName="SENHA" [ngClass]="{ 'has-value': isNullOrUndefined(item.SENHA) }">
        <label>Senha</label>
      </div>

      <div>
        <button class="button button-save" type="submit" [disabled]="!formGroup.valid" (click)="saveItem()">Salvar</button>
        <button *ngIf="item.ID" class="button button-save" type="button" routerLink="/permission-user/{{item.ID}}">Permissões</button>
        <button class="button button-cancel" type="button" (click)="goBackToList()">Voltar</button>
      </div>

    </form>
  </div>

  <div class="loader-overlay" *ngIf="isLoading"></div>
  <div class="loader-container" *ngIf="isLoading">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
  </div>

</div>
