<div class="main-content-container">
  <span defaultOverlayTarget></span>

  <div class="main-content-container__header">
    <h1 class="main-content-container__title">Controle de ofertas</h1>
    <button class="button button-new" [routerLink]="['/offer/new']">Nova oferta</button>
  </div>

  <div class="table-container">

    <table>
      <thead>
      <tr>
        <th>Nome</th>
        <th>Preço</th>
        <th>Programa</th>
        <th>Benefício</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let offer of offers; let index = index">
        <td>{{offer.NOME}}</td>
        <td>{{(offer.PRECO | currency:'BRL':true:'1.2-2') || 'R$0.00'}}</td>
        <td>{{offer.ID_PROGRAMA}}</td>
        <td>{{offer.ID_BENEFICIO}}</td>
        <td>
          <button (click)="deleteOffer(offer, index)">
            <i class="fa fa-trash"></i>
          </button>
          <button (click)="openOffer(offer)">Editar item</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="loader-overlay" *ngIf="isLoading"></div>
  <div class="loader-container" *ngIf="isLoading">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
  </div>

</div>
