<div class="main-content-container">
  <span defaultOverlayTarget></span>

  <div class="form-container" *ngIf="offer">

    <div class="main-content-container__header">
      <h1 class="main-content-container__title" *ngIf="offer.ID">Edição de oferta</h1>
      <h1 class="main-content-container__title" *ngIf="!offer.ID">Nova oferta</h1>
    </div>

    <form [formGroup]="offerForm" >
      <div class="form-input">
        <input type="text" [(ngModel)]="offer.NOME" formControlName="NOME" [ngClass]="{ 'has-value': isNullOrUndefined(offer.NOME) }">
        <label>Nome</label>
      </div>
      <div class="form-input form-input-textarea">
        <textarea [(ngModel)]="offer.DESCRICAO" formControlName="DESCRICAO" autosize>
        </textarea>
        <label>Descrição</label>
      </div>
      <div class="form-input form-input-textarea">
         <textarea [(ngModel)]="offer.SCRIPT" formControlName="SCRIPT" autosize>
        </textarea>
        <label>Script</label>
      </div>
      <div class="form-input">
        <input type="text" [(ngModel)]="offer.PRECO" formControlName="PRECO" [ngClass]="{ 'has-value': isNullOrUndefined(offer.PRECO) }">
        <label>Preço</label>
      </div>
      <div class="form-input">
        <input type="text" [(ngModel)]="offer.ID_PROGRAMA" formControlName="ID_PROGRAMA" [ngClass]="{ 'has-value': isNullOrUndefined(offer.ID_PROGRAMA) }">
        <label>Programa</label>
      </div>
      <div class="form-input">
        <input type="text" [(ngModel)]="offer.ID_BENEFICIO" formControlName="ID_BENEFICIO" [ngClass]="{ 'has-value': isNullOrUndefined(offer.ID_BENEFICIO) }">
        <label>Benefício</label>
      </div>

      <div>
        <button class="button button-save" type="submit" [disabled]="!offerForm.valid" (click)="saveOffer()">Salvar</button>
        <button class="button button-cancel" type="button" (click)="goBackToList()">Voltar</button>
      </div>

    </form>
  </div>

  <div class="loader-overlay" *ngIf="isLoading"></div>
  <div class="loader-container" *ngIf="isLoading">
    <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
  </div>

</div>
