.button
	display inline-block
	position relative
	border 0
	margin 0
	float right
	font-family $font
	font-size 11px
	text-transform uppercase
	text-decoration none
	letter-spacing 1px

	padding 15px 30px
	padding-left 55px
	border-radius 20px
	vertical-align middle
	white-space nowrap
	width 186px
	cursor pointer
	pointer-events all

	&-cancel
		background-color $light-gray
		color: $light
		width: 150px
		margin 50px 0
		margin-right 15px

	&:before
		icon($icon-back, 'FontAwesome', 22px)

	&-save
		background-color $positive
		color $light
		margin 50px 0

		&:before
			icon($icon-checked, 'FontAwesome', 22px)

	&-new
		background-color $positive
		color $light

		&:before
			icon($icon-new, 'FontAwesome', 22px)

	&:disabled
		pointer-events none
		opacity .5

	&__wrapper
		overflow hidden
		width 100%
		opacity 1

	&:before
		absolute()
		top 50%
		left 30px
		margin-top -13px
		color $light
		font-weight 100
		vertical-align middle
		opacity 1

	&.collapse
		width 41px
		padding 15px 20px
		pointer-events none

		.send-offer__wrapper
			width 0
			opacity 0

		&:before
			opacity 0

	&.hide
		opacity 0
