@import jeetborder-box-html()normalize-css()global-reset()// html basic settingsp	margin-bottom 13px	line-height 130%	&:last-of-type		margin-bottom 0html, body	font-size 10px	height 100%	width 100%	overflow hiddenbody	font-size 1.6rem// colors$light = #ffffff$light-gray = #aeaeae$dark = #000000$dark-gray = #4b4b4b$positive = #7f56bf$assertive = #7655fc$font = Arial// icons$icon-phone = '\f095'$icon-clock = '\f402'$icon-refresh = '\f49a'$icon-arrow-right = '\f10a'$icon-arrow-left = '\f107'$icon-checked = '\f00c'$icon-checked-thin = '\f3fd'$icon-send = '\f2f6'$icon-alert = '\f101'icon(icon, font, size)	content icon	font-family font	font-size size// opacity for IE$support-for-ie ?= trueopacity(n)	opacity n	if support-for-ie		-ms-filter unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(n * 100) + ')')		filter unquote('progid:DXImageTransform.Microsoft.Alpha(Opacity=' + round(n * 100) + ')')