.all-wrapper	height 100%	background #9137fd	background -moz-linear-gradient(45deg, #1fc3fc 0%, #9137fd 50%, #db26a4 100%)	background -webkit-linear-gradient(45deg, #1fc3fc 0%, #9137fd 50%, #db26a4 100%)	background linear-gradient(45deg, #1fc3fc 0%, #9137fd 50%, #db26a4 100%).content-wrapper	transition()	position absolute	top 50%	left 50%	margin-top -210px	margin-left -450px	width 900px	height 500px	background-color $light	border-radius 10px	overflow hidden	box-shadow 2px 2px 10px alpha($dark, 30%);	&.show		margin-top -250px		opacity 1	.isDisabled		cursor default.logo-coddera	position absolute	top 50%	left 50%	margin-top 265px	margin-left 255px	white-space nowrap	padding 0	&__image,	&__label		display inline-block		vertical-align bottom	&__label		color #06a1db		font-family Arial		font-size 11px		font-weight 100		margin-right 10px