<div class="header">
  
  <div class="info-box info-box--phone">
    <h1 class="info-box__title">Telefone</h1>
    <span class="info-box__data info-box--phone__data">966108994</span>
  </div>

  <div class="info-box info-box--date">
    <h1 class="info-box__title">Recebido</h1>
    <span class="info-box__data info-box--date__data">18/12/2016 17:27:51</span>
  </div>

  <div class="info-box info-box--status">
    <h1 class="info-box__title">Status de atendimento</h1>
    <span class="info-box__data info-box--status__data">Atendente escolhendo oferta</span>
  </div>

</div>
