<div class="header">

  <img class="header__logo" src="/assets/images/logo_oi.png">

  <div class="info-box info-box--user">
    <h1 class="info-box__title">Usuário autenticado</h1>
    <span class="info-box__data info-box--phone__data">thiago.sciotta@procode.studio</span>
  </div>

  <div class="info-box info-box--date">
    <h1 class="info-box__title">Recebido</h1>
    <span class="info-box__data info-box--date__data">18/12/2016 17:27:51</span>
  </div>

  <div class="info-box info-box--status">
    <h1 class="info-box__title">Status de atendimento</h1>
    <span class="info-box__data info-box--status__data">Atendente escolhendo oferta</span>
  </div>

</div>

<div class="header-menu">
  <ul>
    <li>Dashboard</li>
    <li>Ofertas</li>
    <li>Checkpoints</li>
    <li>Usuários</li>
    <li>Permissões</li>
    <li>Recusas</li>
  </ul>
</div>