<div class="header">

  <img class="header__logo" src="/assets/images/logo_oi.png">

  <div class="info-box info-box--user" *ngIf="authenticatedUser">
    <h1 class="info-box__title">Usuário autenticado</h1>
    <span class="info-box__data info-box--phone__data">{{authenticatedUser.NOME}} ({{authenticatedUser.USUARIO}})</span>
  </div>

</div>

<div class="header-menu" *ngIf="authenticatedUser">
  <ul>
    <li routerLink="/offer" routerLinkActive="selected">Ofertas</li>
    <li routerLink="/checkpoint" routerLinkActive="selected">Checkpoints</li>
    <li routerLink="/user" routerLinkActive="selected">Usuários</li>
  </ul>
</div>
